/*Background image from Pokédex in Pokémon go,  copyright of Niantic / Nintendo*/
body {
  background-image: url(./Pokedex_Background.webp);
  background-position: center;
  background-attachment: fixed;
  background-size: contain;
}

nav {
  display: flex;
  justify-content: center;
  height: 100px;
  width: 100%;
}
#search-filter {
  display: flex;
  justify-content: center;
  margin: 10px;
  font-size: 20px;
}
input[type="checkbox"] {
  border: 2px solid black;
  height: 20px;
  width: 20px;
  border-radius: 5px;
  margin-left: 20px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: start;
}

footer {
  font-size: small;
  display: flex;
  justify-content: center;
}
/*Pokeball design from https://www.youtube.com/watch?v=GTim0on1D-0 */
#btn-home,
#btn-prev,
#btn-next {
  height: 50px;
  width: 70px;
  padding: 5px;
  border: none;
  border-radius: 20px;
  margin: 10px;
  background-color: grey;
}
#search-input {
  height: 50px;
  width: 200px;
  border: 1px solid grey;
  border-radius: 20px;
  margin: 10px;
  padding: 5px;
}
#pokeball {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  border: 1px black solid;
  background-image: linear-gradient(
    0deg,
    #fff 0%,
    #fff 50%,
    #fb0d3e 50%,
    #fb0d3e 100%
  );
  position: relative;
  margin: 10px;
}
#pokeball::before,
#search-button,
#search-button::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#pokeball::before {
  content: "";
  width: 52px;
  background: black;
  height: 5px;
}
#pokeball::after {
  content: "";
  background: white;
  position: absolute;
  top: 5px;
  left: 8px;
  width: 8px;
  height: 5px;
  border-radius: 50%;
  transform: rotate(-45deg);
}
#search-button {
  background: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid black;
}
#search-button::before {
  content: "";
  width: 10px;
  height: 10px;
  border: 1px black solid;
  border-radius: 50%;
}
#main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-transform: capitalize;
}
.pokemon-container {
  border: 1px solid rgb(53, 53, 53);
  padding: 10px;
  width: 150px;
  height: 150px;
  background-color: rgba(250, 235, 215, 0.315);
  margin: 8px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image-container {
  height: 100px;
  width: max-content;
}
.title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.pokemon-regular {
  height: 80%;
  max-width: max-content;
}
.pokemon-details {
  border: 1px solid rgb(53, 53, 53);
  padding: 20px;
  width: 800px;
  height: 800px;
  background-color: rgba(250, 235, 215, 0.315);
  margin: 10px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title-detail {
  font-family: Arial, Helvetica, sans-serif;
}
.image-details {
  height: 200px;
  max-width: max-content;
}
.pokemon-regular-detail {
  height: 200px;
  max-width: max-content;
}
.pokemon-shiny-detail {
  height: 200px;
  max-width: max-content;
}
.physical {
  border: solid rgba(199, 144, 66, 0.71) 5px;
  font-size: 16px;
  width: 300px;
  height: 100px;
  border-radius: 20px;
  box-shadow: 8px 8px 8px gray;
  background-color: rgba(248, 214, 170, 0.315);
  padding: 10px;
}
.info-container {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-top: 10px;
}
.type-container {
  border: solid 5px rgba(221, 80, 80, 0.666);
  max-width: max-content;
  padding: 10px;
  height: max-content;
  box-shadow: 8px 8px 8px gray;
  padding: 10px;
  border-radius: 20px;
}
.stat-container {
  border: solid 5px rgba(80, 158, 221, 0.666);
  max-width: max-content;
  padding: 10px;
  height: max-content;
  box-shadow: 8px 8px 8px gray;
  padding: 10px;
  border-radius: 20px;
}
